In [1]:
# Dependencies and Setup
import requests
import time
import pandas as pd
import numpy as np
from pprint import pprint

# Some work for reference, we will remove these steps in the later stage

In [2]:
# Summary database
# base_url = 'https://api.opencovid.ca/timeseries'
# response = requests.get(base_url).json()
# pprint(response)

In [3]:
# response['data']['tests_completed']
# print(response.keys())
# print(response['data']['hospitalizations'][0]['region'])
# print(response['data']['deaths'][0]['value'])
# print(response['data']['deaths'][0]['value_daily'])

In [4]:
# Summary database
# base_url = 'https://api.opencovid.ca/summary?geo=pt&fill=true&version=true&pt_names=short&hr_names=hruid&fmt=json'
# response = requests.get(base_url).json()

In [5]:
# response['data']

# Fetching the data from API

# For testing purposes: trying to fetch the provinces name from a summaryseries of the covid API, we will also remove this step in the later stage

In [6]:
base_url = 'https://api.opencovid.ca/summary?geo=pt&fill=true&version=true&pt_names=short&hr_names=hruid&fmt=json'
response = requests.get(base_url).json()
provinces = []
for province in response['data']:
    provinces.append(province['region'])
print(provinces)

['AB', 'BC', 'MB', 'NB', 'NL', 'NS', 'NT', 'NU', 'ON', 'PE', 'QC', 'SK', 'YT']

# Fetching the confirmed cases data from the API and making a DataFrame named covid_confirmed_cases_data_df

In [7]:
# Set the base URL
covid_url = 'https://api.opencovid.ca/timeseries'
covid_confirmed_cases_response = requests.get(covid_url).json()
# Define an empty list to fetch the covid confirmed cases
covid_cases_data = []
# Print to logger
print("Beginning Data Retrieval     ")
for case in covid_confirmed_cases_response['data']['cases']:
    covid_cases_data.append({"Province": case['region'], "Date" : case['date'], "Cumulative confirmed cases": case['value'], "Confirmed cases per day": case['value_daily']})            
# Indicate that Data Loading is complete 
print("Data Retrieval Complete      ")

Beginning Data Retrieval
Data Retrieval Complete

In [8]:
covid_confirmed_cases_data_df = pd.DataFrame(covid_cases_data)
# Show Record Count
covid_confirmed_cases_data_df

,Province,Date,Cumulative confirmed cases,Confirmed cases per day
0,AB,2020-03-05,1,1
1,AB,2020-03-06,1,0
2,AB,2020-03-07,2,1
3,AB,2020-03-08,3,1
4,AB,2020-03-09,7,4
...,...,...,...,...
13998,YT,2022-11-06,5578,5
13999,YT,2022-11-07,5581,3
14000,YT,2022-11-08,5582,1
14001,YT,2022-11-09,5582,0
14002,YT,2022-11-10,5588,6

# Fetching the Death covid data from the API and making a DataFrame named death_data_df

In [9]:
# Set the API base URL
covid_url = 'https://api.opencovid.ca/timeseries'
covid_deaths_response = requests.get(covid_url).json()
# Define an empty list to fetch the death data
covid_death_data = []
# Print to logger
print("Beginning Data Retrieval     ")
for case in covid_deaths_response['data']['deaths']:
    covid_death_data.append({"Province": case['region'], "Date" : case['date'], "Cumulative death cases": case['value'], "Deaths per day": case['value_daily']})            
# Indicate that Data Loading is complete 
print("Data Retrieval Complete      ")

Beginning Data Retrieval
Data Retrieval Complete

In [10]:
death_data_df = pd.DataFrame(covid_death_data)
death_data_df

      Province        Date  Cumulative death cases  Deaths per day
0           AB  2020-03-08                       0               0
1           AB  2020-03-09                       0               0
2           AB  2020-03-10                       0               0
3           AB  2020-03-11                       0               0
4           AB  2020-03-12                       0               0
...        ...         ...                     ...             ...
13900       YT  2022-11-01                      32               0
13901       YT  2022-11-02                      32               0
13902       YT  2022-11-03                      32               0
13903       YT  2022-11-04                      32               0
13904       YT  2022-11-05                      32               0

[13905 rows x 4 columns]

# Fetching the covid hospitalization data from the API and making a DataFrame named hospitalization_data_df

In [11]:
# Set the API base URL
covid_url = 'https://api.opencovid.ca/timeseries'
covid_hospitalization_response = requests.get(covid_url).json()
# Define an empty list to fetch the death data
hospitalization_data = []
# Print to logger
print("Beginning Data Retrieval     ")
for case in covid_hospitalization_response['data']['hospitalizations']:
    hospitalization_data.append({"Province": case['region'], "Date" : case['date'], "Cumulative hospitalizations cases": case['value'], "hospitalizations per day": case['value_daily']})            
# Indicate that Data Loading is complete 
print("Data Retrieval Complete      ")

Beginning Data Retrieval
Data Retrieval Complete

In [12]:
hospitalization_data_df = pd.DataFrame(hospitalization_data)
hospitalization_data_df

,Province,Date,Cumulative hospitalizations cases,hospitalizations per day
0,AB,2020-01-25,0,0
1,AB,2020-01-26,0,0
2,AB,2020-01-27,0,0
3,AB,2020-01-28,0,0
4,AB,2020-01-29,0,0
...,...,...,...,...
13780,YT,2022-11-13,0,0
13781,YT,2022-11-14,0,0
13782,YT,2022-11-15,0,0
13783,YT,2022-11-16,0,0
13784,YT,2022-11-17,0,0

In [13]:
# Mering the three DataFrames named as covid_confirmed_cases_data_df, death_data_df and hospitalization_data_df on columns Province and Date as they are common columns in all of the dataframes
covid_combined_df = pd.merge(covid_confirmed_cases_data_df, pd.merge(death_data_df, hospitalization_data_df, on=['Province', 'Date']), on=['Province', 'Date'])
covid_combined_df

,Province,Date,Cumulative confirmed cases,Confirmed cases per day,Cumulative death cases,Deaths per day,Cumulative hospitalizations cases,hospitalizations per day
0,AB,2020-03-08,3,1,0,0,0,0
1,AB,2020-03-09,7,4,0,0,4,4
2,AB,2020-03-10,16,9,0,0,5,1
3,AB,2020-03-11,23,7,0,0,5,0
4,AB,2020-03-12,26,3,0,0,5,0
...,...,...,...,...,...,...,...,...
13047,YT,2022-11-01,5556,3,32,0,0,0
13048,YT,2022-11-02,5560,4,32,0,0,0
13049,YT,2022-11-03,5564,4,32,0,0,0
13050,YT,2022-11-04,5566,2,32,0,0,0
13051,YT,2022-11-05,5573,7,32,0,0,0

# Dropping the negative vales from the dataframe

In [14]:
covid_combined_final_df = covid_combined_df[(covid_combined_df['Cumulative confirmed cases'] >= 0) & (covid_combined_df['Confirmed cases per day'] >= 0) & (covid_combined_df['Cumulative death cases'] >= 0) & (covid_combined_df['Deaths per day'] >= 0) & (covid_combined_df['Cumulative hospitalizations cases'] >= 0)& (covid_combined_df['hospitalizations per day'] >= 0)]
covid_combined_final_df = covid_combined_final_df.dropna()
covid_combined_final_df

,Province,Date,Cumulative confirmed cases,Confirmed cases per day,Cumulative death cases,Deaths per day,Cumulative hospitalizations cases,hospitalizations per day
0,AB,2020-03-08,3,1,0,0,0,0
1,AB,2020-03-09,7,4,0,0,4,4
2,AB,2020-03-10,16,9,0,0,5,1
3,AB,2020-03-11,23,7,0,0,5,0
4,AB,2020-03-12,26,3,0,0,5,0
...,...,...,...,...,...,...,...,...
13047,YT,2022-11-01,5556,3,32,0,0,0
13048,YT,2022-11-02,5560,4,32,0,0,0
13049,YT,2022-11-03,5564,4,32,0,0,0
13050,YT,2022-11-04,5566,2,32,0,0,0
13051,YT,2022-11-05,5573,7,32,0,0,0

# Calculating Mortality rate and daily mortality rate and rounding them upto 3 decimal places

In [15]:
covid_combined_final_df['Mortality rate'] = round(((covid_combined_final_df['Cumulative death cases'] / covid_combined_final_df['Cumulative confirmed cases']) * 100), 3)
covid_combined_final_df['Daily mortality rate'] = round(((covid_combined_final_df['Deaths per day'] / covid_combined_final_df['Confirmed cases per day']) * 100), 3)
covid_combined_final_df.sample(20)

,Province,Date,Cumulative confirmed cases,Confirmed cases per day,Cumulative death cases,Deaths per day,Cumulative hospitalizations cases,hospitalizations per day,Mortality rate,Daily mortality rate
2806,MB,2021-10-13,61836,112,1227,1,58,10,1.984,0.893
7271,NU,2020-06-07,0,0,0,0,0,0,NaN,NaN
5288,NL,2022-11-04,52878,13,258,0,3,0,0.488,0.000
5723,NS,2021-05-10,4040,121,71,0,49,6,1.757,0.000
7089,NT,2022-04-19,11217,81,22,1,0,0,0.196,1.235
6237,NS,2022-10-06,68333,193,544,0,44,0,0.796,0.000
11802,SK,2022-02-03,120745,851,1000,4,384,12,0.828,0.470
1511,BC,2021-04-08,109410,1217,1493,2,333,3,1.365,0.164
5845,NS,2021-09-09,6074,17,94,0,1,0,1.548,0.000
1791,BC,2022-01-13,293639,2251,2462,7,534,34,0.838,0.311
12792,YT,2022-02-19,3734,10,20,0,0,0,0.536,0.000
1850,BC,2022-03-13,352392,189,2935,0,368,0,0.833,0.000
3695,NB,2021-03-10,1460,0,29,0,3,0,1.986,NaN
2556,MB,2021-02-05,30082,101,856,7,115,6,2.846,6.931
9623,PE,2021-09-18,281,3,0,0,0,0,0.000,0.000
4333,NB,2022-12-08,83425,0,621,0,40,0,0.744,NaN
11529,SK,2021-05-06,42376,173,501,0,173,2,1.182,0.000
1446,BC,2021-02-02,68642,402,1218,8,294,5,1.774,1.990
298,AB,2020-12-31,103231,1360,1046,0,921,0,1.013,0.000
5017,NL,2022-02-06,18242,0,45,0,20,0,0.247,NaN

# Putting the DataFrame in ascending order via Date column and taking output in .csv format as Covid19_data_Output

In [16]:
# sort the DataFrame by date in ascending order as covid_combined_final_sorted
covid_combined_final_df['Date'] = pd.to_datetime(covid_combined_final_df['Date'])
covid_combined_final_sorted = covid_combined_final_df.sort_values(by='Date')

In [17]:
# storing the output file as Covid19_data_Output
covid_combined_final_sorted.to_csv("Output/Covid19_data_Output.csv", index=False)

# While observing the csv file, the columns 'Mortality rate' and 'Daily mortality rate' had no values in them. Filled the empty values with zero and replaced the inf values in column 'Daily mortality rate' with zero. Taking the final output as 'Covid19_data_Output2'

In [18]:
# fill missing values with zero
covid_combined_final_sorted_filled = covid_combined_final_sorted.fillna(value=0)
# remove inf and replace with zero in column 'A'
covid_combined_final_sorted_filled['Daily mortality rate'] = covid_combined_final_sorted_filled['Daily mortality rate'].replace([np.inf, -np.inf], 0)

# Final DataFrame output for further studies

In [19]:
covid_combined_final_sorted_filled.to_csv("Output/Covid19_data_Output2.csv", index=False)